* {
    box-sizing: border-box;
}


body {
    font-family: 'Lato', sans-serif;
    padding: 8px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Intro', sans-serif;
    font-weight: 900;
}
a {
    text-decoration: none;
    color: #1c1c1c;
}


nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.title {
    color: #FA7343;
}

.description {
    color: #9ea0a5;
}



.nav-mobile img {
    width: 32px;
}

.desktop-menu {
    display: none;
    
}

.section-how {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
    gap: 1rem;
    margin-top: 1rem;
}

.section-how__title {
    color: #FA7343;
    text-align: center;
    text-transform: uppercase;
    margin-top: 1rem;
}

.step {
    display: flex;
    gap: 0.5rem;
}

.step__image {
    width: 50px;
}

.step__title {
    text-transform: uppercase;

}

/* -----------------------DESKTOP-VERSION------------------- */

@media (min-width: 600px) {
    nav {
        justify-content: space-between;
    }
    .masthead {
        margin-top: 3vh;
        margin-left: 3vh;
        text-align: center;
    }
    .description {

    }
    .nav-mobile {
        display: none;
    }
    .desktop-menu {
        display:flex;
        gap: 2rem;
        font-weight: bold;
        
        
    }
    .section-how {
        flex-direction: row;
        margin-top: 10vh;
       
    }

}